
<nav id="thenavbar" class="navbar navbar-expand-lg bg-light justify-content-center">
  <div class="container-fluid justify-content-center">  
   
  <ul class="nav navbar-light bg-light justify-content-center" >
  
  {% if not current_user.is_authenticated %}
  <li class="nav-item" >
    <a class="nav-link" href="{{url_for('what')}}">Hard Money?</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="{{url_for('register')}}">Register</a>
  </li>
  <li class="nav-item">
  <a class="navbar-brand" href="{{url_for('index')}}">
  <img src="../static/images/FadedMainCC.png" alt="city park" width="95" height="70">
  </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('login')}}">Login</a>
  </li>
   <li class="nav-item">
    <a class="nav-link active" href="{{url_for('why')}}">Why Contigo?</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link active" href="{{url_for('why')}}">Why Contigo?</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
  </li>
  <li class="nav-item">
    <a class="navbar-brand" href="{{url_for('index')}}">
    <img src="../static/images/ContigoCapitalLogoNBG.png" alt="" width="95" height="70">
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="{{url_for('edit_profile')}}">Edit Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('apply')}}">Pre-Approval</a>
  </li>
  {% endif %}
</ul>
</nav>





