{% extends 'base.html.j2' %}
{% block css %}
    <link rel="stylesheet" href="../static/css/main.css"/>
{% endblock %}

{% block title %}
   Why Contigo?
{% endblock %}

{% block content %}


<div id=homepara class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Contigo Capital - Insight, Clarity, & Trust</h1>
                <p> We are a team of experienced professionals who have worked in the financial services industry for over 25 years. 
                With a strong and proven track record of success in single-family, multi-family, and commercial real estate in the Dallas/Fort Worth area, 
                we are uniquely positioned to help you achieve your real estate investment goals in Texas or nationwide. </p>
                
                
                We have a deep understanding of the real estate market and the challenges that small and medium sized businesses face 
                in raising capital to meet their goals. Whether you're focus is Fix/Flip, Cash Out/Refi, Rental loans, New Construction, or Commercial Development we are committed to providing our clients with the best possible service and the most flexible and competitive terms.</p>
            </div>
        </div>
    </div>

{% endblock %} 
