{% extends 'base.html.j2'%}
{% block css %}
    <link rel="stylesheet" href="../static/css/main.css"/>
{% endblock %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    
    {# <form action="login" method="POST"> #}
    <div id="userlogin">
    <h1>Login</h1>
    <form action="{{url_for('login')}}" method="POST">
    {{form.hidden_tag()}}
    <div class="mb-3 justify-content-center">
        {{form.email.label(class="form-label")}}
        {{form.email(class="form-control", style= "width: 20rem; height: 30%")}}
        {% for error in form.email.errors%}
            <small style="color:red">{{error}}</small>
        {% endfor %}
    </div>
    <div class="mb-3 justify-content-center">
        {{form.password.label(class="form-label")}}
        {{form.password(class="form-control", style= "width: 20rem; height: 30%")}}
        {% for error in form.password.errors%}
            <small style="color:red">{{error}}</small>
        {% endfor %}
    </div>
    <div>
        {{form.submit(class="btn btn-primary", style= "width: 20rem; height: 30%")}}<br>
         <small style="color:red">{{error}}</small>
    </div>
    </form>
{% endblock %}
