{% extends 'base.html.j2' %}
{% block css %}
    <link rel="stylesheet" href="../static/css/main.css"/>
{% endblock %}

{% block title %}
   Hard Money?
{% endblock %}

{% block content %}


<div id=homepara class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>What is "Hard Money"?</h1>
                <p>A hard money loan is a specific type of asset-based loan financing through which a borrower
                 receives funds secured by real property. Hard money loans are typically issued by private investors
                  or companies. Interest rates are typically higher than conventional commercial or residential property 
                  loans because of the higher risk and shorter duration of the loan. We pride ourselves on having access 
                    to the best hard money lenders in the industry. We have a network of private investors who can lend from $75K-$20M.
                  <br/>
                  <br/>
                  At Contigo Capital, we provide hard money loans to real estate investors who want to make the most out of their investments. We work 
                   with ITIN, Foreign National borrowers, seasoned pro's, or first time investors we can find a solution to help you meet your goals.

                  </p>
            </div>
        </div>
    </div>

{% endblock %} 
